html{
    background-color: black;
    color: aliceblue;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

a{
    color: aquamarine;
    text-decoration: none;
}

a:hover{
    background-color: darkslategray;
    cursor: pointer;
}

a:visited{
    color: aquamarine;
    text-decoration: none;
}

em#current-date-time{
    font-style: normal;
    font-size: large;
    color: rgb(216, 181, 172);
}

.content{
    margin: 5%;
}

.container{
    padding-top: 15px;
}

.container li:not(:last-child){
    margin-bottom: 6px;
}

.container img{
    width: 75%;
    height: auto;
}
