{% extends 'base.html' %}

{% block head %} 
<title>Lab6/Photography</title>
{% endblock head %}

{% block body %}
<div class="content">
    <div class="container">
        <a href="{{url_for('index')}}">Back...</a>
    </div>

    <div class="container" id="my-photos">
        <img src="/static/img/BlueRidge-MountainRoad1.png" 
        alt="Foggy road in the Blue Ridge Mountains">
        <img src="/static/img/BlueRidge-MountainTunnel1.png"
        alt="Foggy road in the Blue Ridge Mountains leading towards a distant tunnel">
        <img src="/static/img/CherokeeDuck1.png" 
        alt="Duck floating in a mountain stream">
        <img src="/static/img/LEWaterfallCherokee1.png" 
        alt="Long exposure of a waterfall in the Blue Ridge Mountains">
        <img src="/static/img/MountainElk2.png" 
        alt="Blue Ridge Mountain elk grazing in an open field">
        <img src="/static/img/SpangdahlemParkPlatz1.png" 
        alt="Rurual field in Germany just outside of a village">
        <img src="/static/img/SpangdahlemParkPlatzFlower2.png" 
        alt="Close-up upon daisy flowers">
        <img src="/static/img/Stream1-Feb-20.png" 
        alt="West German forest stream">
    </div>
</div>
{% endblock body%}